<?xml version="1.0"?>
<model>
  <name>garden</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Nils Rottmann</name>
   <email>Nils.Rottmann@rob.uni-luebeck.de</email>
  </author>

  <description>
    This is a model of a garden environment as testbed for the lawn mower
  </description>
</model>
