<?xml version="1.0"?>

<model>
  <name>Cubicle wall</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole.bsmr@gmail.com</email>
  </author>

  <author>
    <name>Louise Poubel</name>
    <email>louise@robotics.com</email>
  </author>

  <description>
    A cubicle wall composed of 3 parts.
    You can combine submeshes `Wall_Closed`, `Wall_Open` and `Corner` on your own model
  </description>

</model>
