<?xml version="1.0"?>

<model>
  <name>Decenter warehouse low</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Miguel Saura</name>
    <email>msaura2@robotnik.es</email>
  </author>

  <description>
    A simple warehouse for the Decenter project.
  </description>
</model>
