<?xml version="1.0"?>

<model>
  <name>Charging Dock With ArUco</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Addison Sears-Collins</name>
    <email>automaticaddison@todo.com</email>
  </author>

  <description>
    A charging dock with ArUco marker for a mobile robot.
  </description>

</model>
