<?xml version="1.0" ?>
<model>
    <name>rb1_docking_station_1</name>
    <version>1.0</version>
    <sdf version="1.6">rb1_docking_station_1.sdf</sdf>
    <author>
        <name>Román Navarro</name>
        <email>rnavarro@robotnik.es</email>
    </author>
    <description>Docking station model for RB1 robot</description>
</model>
