<?xml version="1.0"?>

<model>
  <name>Warehouse Pallet - Small</name>
  <version>2.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Shreyas Gokhale</name>
    <email>shreyas6gokhale@gmail.com</email>
  </author>

  <description>
    Small Amazon warehouse pallet
  </description>
</model>
