<?xml version="1.0"?>

<model>
  <name>floor_with_ground</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Michellis Karamousadakis</name>
    <email>mkaramousadakis@zoho.eu></email>
  </author>

  <description>
    Floor with ground
  </description>
</model>
